.text-input {
  border: 1px solid #cacccd;
  font-size: $font-size-large;
  padding: $s-size;
}

.form-align {
  margin-top: $m-size;
}

.button__remove {
  margin-top: $s-size;
  background: #888 !important;
  border: #888 !important;
}

.button-movimentacao__gravar {
  margin-top: $s-size;
}